@model List<Phone_book.Models.Сontact>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Контракты</title>
    <link href="~/css/stylecss.css" rel="stylesheet" />
    <script src="~/ts/scripts.js"></script>
</head>
<body>
    <p class="fontStyle">

        <table border="1">
            @foreach(var e in Model)
        {
            <tr>
                <td><a href="/Details/Details?id=@e.Id">@e.Id</a></td>
                <td><p>@e.Surname</p></td>
                <td><p>@e.Name</p></td>
                <td><p>@e.Patronymic</p></td>
                <td><p>+@e.PhoneNumber</p></td>
                <td><p>@e.Address</p></td>
            </tr>
        }
        </table>

    </p>
</body>
</html>